@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

// ecran telephone 375px-------

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
}

// HEADER ecran 375px-------

.header_title {
  font-size: 26px;
  color: hsl(234, 12%, 34%);
  font-weight: 200;
  margin:0px 0px 0px 0px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.header_subtitle {
  font-size: 28px;
  color: hsl(235, 86%, 17%);
  font-weight: 600;
  margin:0px 0px 20px 0px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.header_presentation {
  font-size: 14px;
  color: hsla(234, 12%, 34%, 0.5);
  font-weight: 200;
  margin:0px 0px 0px 0px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

// CARDS ecran 375px-------
.container_card {
  display: flex;
  flex-direction: column;
}

.card__image {
  float: right;
  padding-right: 10px;
}

/* Mixin pour les propriétés de cards*/
@mixin card-properties($border-color,  $box-shadow-color) {
  border-top: 3px solid $border-color;
  box-shadow: 0px 7px 7px $box-shadow-color;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.card--cyan {
  @include card-properties(hsl(180, 62%, 55%), hsla(212, 86%, 64%, 0.3));
}

.card--red {
  @include card-properties(hsl(0, 78%, 62%), hsla(212, 86%, 64%, 0.3));
}

.card--orange {
  @include card-properties(hsl(34, 97%, 64%), hsla(212, 86%, 64%, 0.3));
}

.card--blue {
  @include card-properties(hsl(212, 86%, 64%), hsla(212, 86%, 64%, 0.3));
}


// GRAND ECRAN-----------

@media screen and (min-width: 375px) and (max-width: 4080px) {

// HEADER GRAND ECRAN-------

.container_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 25%;
  }

 // CONTAINER GRAND ECRAN-------
.container_card {
  display: grid;
  grid-template-columns: repeat(29, 1fr);
  grid-template-rows: repeat(16, 1fr);
  height: 75%;
}

.card__image {
  float: right;
  padding: 0pw 10px 10px 0px;
}

/* Mixin pour les propriétés de positionnement */
@mixin card-position($grid-col, $grid-row) {
  grid-column: $grid-col;
  grid-row: $grid-row;
}
/* Mixin pour les propriétés de style */
@mixin card-style($border-color) {
  border-top: 3px solid $border-color;
  box-shadow: 0px 7px 7px hsla(212, 86%, 64%, 0.3);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.card--cyan {
  @include card-position(4/span 7, 5/span 6);
  @include card-style(hsl(180, 62%, 55%));
}

.card--blue {
  @include card-position(20/span 7, 5/span 6);
  @include card-style(hsl(212, 86%, 64%));
}

.card--red {
  @include card-position(12/span 7, 2/span 6);
  @include card-style(hsl(0, 78%, 62%));
}

.card--orange {
  @include card-position(12/span 7, 9/span 6);
  @include card-style(hsl(34, 97%, 64%));
}
}
